body{text-align: center;}

 body{background-color: #cccccc;}

 p {text-align: center;}

  p {font-size: 30px}

strong{color: aqua;font-size: 30px}

h1{color: aqua;font-size: 40px}

h2{color: aqua;font-size: 40px}
 
