body{text-align: center;}

 body{background-color: #000000;}

 p {text-align: center;}

  p {color: rgb(255, 253, 222);font-size: 30px}

  #banner {height: 500px;}


strong{color: rgb(238, 255, 0);font-size: 30px}

h1{color: rgb(238, 255, 0);font-size: 40px}

h2{color: rgb(238, 255, 0);font-size: 40px}
 
