body{text-align: center;}

 body{background-color: #cccccc;}

 p {text-align: center;}

  p {font-size: 30px}

  #banner {height: 500px;}


strong{color: rgb(238, 255, 0);font-size: 30px}

h1{color: rgb(238, 255, 0);font-size: 40px}

h2{color: rgb(238, 255, 0);font-size: 40px}
 
